@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

:root {
    --main-blue: #2196f3;
    --main-black: #212121;
    --main-black-logo: #000000;
    --main-gray: #757575;
    --main-white: #fff;
    --main-bg: #2f303a;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: normal;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.header {
}

.header__container {
    display: grid;
    grid-template-columns: 210px 1fr 310px;
    gap: 20px;
    align-items: center;
    margin: 0 auto;
    padding: 15px 25px;
}

@media (min-width: 900px) {
    .menu__contact {
        display: flex;
        column-gap: 40px;
    }
}
@media (max-width: 900px) and (min-width: 600px) {
    .header__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .menu__contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

@media (max-width: 600px) and (min-width: 320px) {
    .menu__nav {
        display: none;
    }

    .menu__contact {
        display: none;
    }
}

@media (max-width: 600px) {
    .burger__menu {
        display: block; /* Показуємо бургер меню на екранах менше 600px */
    }
}
.logo {
}

.logo__link {
    font-size: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    color: var(--main-black);
    letter-spacing: 0.78px;
}

.logo__link_color {
    font-size: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    color: var(--main-blue);
    letter-spacing: 0.78px;
}

.menu__nav {
}

.menu__list {
    display: flex;
    column-gap: 50px;
}

.menu__list,
.menu__contact {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
}

/* .menu__contact {
    display: flex;
    column-gap: 40px;
} */
.menu__item {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: var(--main-black);
    letter-spacing: 0.28px;
}

.menu__link {
    transition: color 0.3s ease;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: var(--main-black);
    letter-spacing: 0.28px;
}
.menu__link:hover {
    color: var(--main-blue);
}
.active__link {
    color: var(--main-blue);
}

.menu__contact {
    color: var(--main-gray);
}

.menu__contact_email,
.menu__contact_tel {
    transition: color 0.3s ease;
    color: var(--main-gray);
}

.menu__contact_tel:hover,
.menu__contact_email:hover {
    color: var(--main-blue);
}

/* ================================ */
.mainpage {
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-bottom: 94px;
    padding: 0px 15px;
    background: var(--main-bg);
}

.header-welcome__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
}

.header-welcome__title {
    max-width: 696px;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.33em;
    color: var(--main-white);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.64px;
}

.header-welcome__button {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    padding: 10px 32px;
    transition: background 0.3s ease;
    background: #2196f3;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875em;
    color: var(--main-white);
    text-align: center;
    letter-spacing: 0.96px;
}
.header-welcome__button:hover {
    background: #188ce8;
}
.card__container {
    margin: 0 auto 94px auto;
}

.content-card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.content-card__item {
    max-width: 270px;
}

.content-card__title {
    padding-bottom: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 0.42px;
}

.content-card__subtitle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7em;
    color: var(--main-gray);
    letter-spacing: 0.42px;
}

.work-content {
}
.content-work__container {
    margin: 0 auto 94px auto;
}
.content-work__img {
    flex-shrink: 0;
    max-width: 370px;
    height: 294px;
}
.content-work__title {
    padding-bottom: 50px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: var(--main-black);
    text-align: center;
    letter-spacing: 1.08px;
}

.content-work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content-work__item {
    padding-bottom: 25px;
}

.content-work__item:not(:last-child) {
    padding-bottom: 25px;
}
.content-work__img {
    width: 100%;
    height: 100%;
}
.team__content {
}

.content-team {
    background: #f5f4fa;
    padding: 94px 0;
}

.content-team__maintitle {
    padding-bottom: 50px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: var(--main-black) z;
    text-align: center;
    letter-spacing: 1.08px;
}

.content-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-team__item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 0px 0px 4px 4px;
}
.content-team__image {
    width: 270px;
    height: 260px;
}

.content-team__body {
    padding: 30px 15px 30px 15px;
}
.content-team__title {
    padding-bottom: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: var(--main-black);
    text-align: center;
    letter-spacing: 0.48px;
}

.content-team__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: var(--main-gray);
    text-align: center;
    letter-spacing: 0.48px;
}

.footer {
    width: 100%;
    background: var(--main-bg);
}

.footer {
}
.footer__container {
    margin: 0 auto 94px auto;
    padding: 60px 15px;
}
.logo {
}
.logo__footer {
    margin-bottom: 28px;
}
.logo__link_footer {
    font-size: 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.78px;
}
.logo__link_color {
}
.footer__body {
}
.footer__menu_ {
}
.menu-footer {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.menu-footer__item {
    font-style: normal;
}

.menu-footer__link_adress {
    transition: color 0.3s ease;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14em;
    color: var(--main-white);
    letter-spacing: 0.42px;
}
.menu-footer__link {
    transition: color 0.3s ease;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14em;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.42px;
}
.menu-footer__link:hover,
.menu-footer__link_adress:hover {
    color: var(--main-blue);
}

/* prortfole styles */
.mainpage-portfolio {
}
.store__container {
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-top: 94px;
    margin-bottom: 50px;
}

.filter-list__item {
    background: #f5f4fa;
    border-radius: 4px;
}

.filter-list__button {
    padding: 6px 22px 6px 22px;
    font-size: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 1.6em;
    color: #212121;
    text-align: center;
    letter-spacing: 0.48px;
}
.filter-list__button:hover {
    scale: 1.2;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
    background: var(--main-blue);
    border-radius: 4px;
    color: var(--main-white);
}
.catalog-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 0px 94px 0px;
}

@media (max-width: 1200px) and (min-width: 320px) {
    .catalog-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .catalog-list__item {
        width: 354px;
    }
}

@media (max-width: 740px) and (min-width: 320px) {
    .catalog-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.catalog-list__item {
    justify-self: center;
    display: grid;
    max-width: 370px;
    border: 1px solid #eee;
}
.catalog-list__img {
    width: 100%;
    height: 100%;
}
.catalog-list__body {
    padding: 20px 24px;
}

@media screen and (min-width: 320px) {
}
.catalog-list__body {
    padding-left: 30px;
}

.catalog-list__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    color: var(--main-black);
    letter-spacing: 1.08px;
}

.catalog-list__subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85em;
    color: var(--main-gray);
    letter-spacing: 0.48px;
}

/* =================================================================================================== */

[class*="__container"] {
    max-width: 1200px;
}
