@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    padding: 15px;
    font-style: normal;
    line-height: normal;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.header {
}

.header__container {
}

.logo {
}

.logo__link {
    color: #000;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo__link_color {
    color: #2196f3;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.menu__nav {
    padding: 10px 35px 10px 35px;
}

.menu__list,
.menu__contact {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.menu__item {
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.menu__link {
    transition: all 0.3s ease;
}
.menu__link:hover {
    color: #2196f3;
}
.active__link {
    color: #2196f3;
}

.menu__contact {
    padding: 10px 35px 15px 35px;
    color: #757575;
}

.menu__contact_email {
    color: #757575;
}

.menu__contact_tel {
    color: #757575;
}

.menu__contact_tel:hover {
    color: #2196f3;
    transition: all 0.3s ease;
}
.menu__contact_email:hover {
    color: #2196f3;
    transition: all 0.3s ease;
}

.mainpage {
}

.welcome {
    background: #2f303a;
}

.header-welcome__item {
}

.header-welcome__title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.33em;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.header-welcome__button {
    color: #fff;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.48em;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.header-welcome__button:hover {
    background: rgba(33, 150, 243, 0.5);
    transition: background 0.3s ease;
}
.card {
}

.content-card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0px 35px 0px 35px; */
}

.content-card__item {
    max-width: 270px;
    padding: 10px;
}

.content-card__title {
    padding-bottom: 10px;
    color: #212121;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.content-card__subtitle {
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7em;
    letter-spacing: 0.42px;
}

.work__content {
}

.content-work {
    padding: 0px 35px 94px 35px;
}
.content-work__img {
    max-width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.content-work__title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.content-work__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content-work__item {
    padding-bottom: 25px;
}

.content-work__item:not(:last-child) {
    padding-bottom: 25px;
}
.content-work__img {
    width: 100%;
    height: 100%;
}
.team__content {
    background: #f5f4fa;
}

.content-team {
    padding: 94px 35px 94px 35px;
}

.content-team__maintitle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;

    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.content-team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.content-team__item {
    border-radius: 0px 0px 4px 4px;
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.content-team__image {
    width: 270px;
    height: 260px;
}

.content-team__body {
    padding: 30px 15px 30px 15px;
}
.content-team__title {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding-bottom: 10px;
}

.content-team__subtitle {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.footer {
    background: #2f303a;
    width: 100%;
}

.footer {
}
.footer__container {
    padding: 15px;
}
.logo {
}
.logo__link_footer {
    color: #fff;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.78px;
}
.logo__link_color {
}
.footer__body {
}
.footer__menu_ {
}
.menu-footer {
}
.menu-footer__item {
}
.menu-footer__link_adress {
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14em;
    letter-spacing: 0.42px;
}
.menu-footer__link {
    color: rgba(255, 255, 255, 0.6);
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14em;
    letter-spacing: 0.42px;
}
.menu-footer__link:hover,
.menu-footer__link_adress:hover {
    color: #2196f3;
    transition: all 0.3s ease;
}

/* prortfole styles */
.mainpage-portfolio {
}
.filter {
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-list__item {
    background: #f5f4fa;
    border-radius: 4px;
    /* border-radius: 4px;
    padding: 6px 22px 6px 22px; */
}

.filter-list__button {
    padding: 6px 22px 6px 22px;
    color: #212121;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0.48px;
    /* background-color: transparent; */
}
.filter-list__button:hover {
    scale: 1.2;
    transition: all 0.3s ease;
    color: #fff;
    background: #2196f3;
    border-radius: 4px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.catalog-list {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px 0px 94px 0px;
    gap: 30px;
    padding: 30px 0px 94px 0px;
}

@media (max-width: 1200px) and (min-width: 900px) {
    .catalog-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 900px) and (min-width: 320px) {
    .catalog-list {
        grid-template-columns: repeat(1, 1fr);
    }
}
.catalog-list__item {
    display: grid;
    justify-self: center;
    border: 1px solid #eee;
    max-width: 370px;
}
.catalog-list__img {
    width: 100%;
    height: 100%;
}
.catalog-list__body {
    padding: 20px 24px;
}

@media screen and (min-width: 320px) {
    .catalog-list__body {
        padding-left: 30px;
    }
}
.catalog-list__title {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2em;
    letter-spacing: 1.08px;
}

.catalog-list__subtitle {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85em;
    letter-spacing: 0.48px;
}
